/* Global 
==================== */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html { font-size: 100%; }
body {
	background-color: #D6D6D6;
	font-family: sans-serif;
}
.container {
	margin: 0 auto;
	max-width: 48rem;
	width: 90%;
}
a { text-decoration: none; }


/* Header 
=========== */
header {
	background: url('../images/background.jpg') repeat-x;
	text-align: center;
}
header img { width: 200px; margin: 1.5rem;}


/* Main Content 
=========== */
section {
	background-color: white;
	padding: 1.5rem;
}

section img { width: 100%; }


section h2 {
	font-size: 1.1rem;
	font-weight: 800;
}

article { padding-bottom: 3rem; }

article p { 
	font-size: .75rem;
	line-height: 1.4;
}

.download { 
	display: inline-block; 
	font-size: .9rem; 
	padding: .3rem;
	margin-bottom: .5rem;
	border: 1px solid red;
	border-radius: 5px;
	-webkit-transition: background-color.5s ease-in-out, color.5s ease-in-out;
	-o-transition: background-color .5s ease-in-out, color.5s ease-in-out;
	transition: background-color .5s ease-in-out, color.5s ease-in-out;
}

.download:hover {
	background-color: red;
	color: white;
}

article span { 
	display: block; 
	padding: .6rem;
	font-size: .7rem; 
	border-top: 1px dotted black;
	border-bottom: 2px solid black;
}

article a { color: red; font-weight: bold;}


/* Sidebar 
=========== */
nav { 
	padding: 0rem 2rem 2rem 1rem;
	background-color: white;
	font-size: .7rem;
}

.nav-archive a, .nav-blog a {
	font-weight: bold;
	padding-top: .3rem;
	color: black;
}

.sidebar h3 { 
	text-transform:uppercase; 
	margin: 0;
	font-size: .72rem;
	padding-top: .3rem;
}

.nav-archive, .nav-blog { margin-bottom: 1rem; }

.ads { text-align: center; }
.ads img { padding-bottom: .7rem; width: 32%; }


/* Social Icons
============ */
.social { 
	text-align: center; 
	padding: 1rem 0;
	clear: both;
}

/* Clearfix 
============ */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
} .clearfix:after { clear:both; }


/* ========================================= */


/* Media Queries 
================  */
@media (min-width: 48rem) {
	.container { width: 70%; }
	.col { float: left; padding: 0 1rem 0;}
	.two-thirds { width: 66.67%; }
	.third { width: 33.3%; }
	nav { 
		padding: 1.5rem; 
		font-size: .6rem;
		padding: 2rem 2rem 2rem 1rem;
	}
	.nav-archive a, .nav-blog a {
		display: block;
	}
	article p { display: inline; font-size: 0.7rem;}
	article span { margin-top: 1rem; }
	.download { 
		display: inline; 
		text-transform: uppercase;
		font-size: .75rem; 
		padding: 0;
		margin-bottom: 0;
		border: 0;
		border-radius: 0;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
	.download:hover { background-color: inherit; color: inherit;}
	.ads img { width: 100%; }





}
